.footer {
    display: flex;
    flex-direction: column;
    background-color: rgb(10, 9, 48);
    color: white;
    padding: 1rem;
    justify-content: center;
    align-items: center;
  }

  h5 {
    background-color:rgb(10, 9, 48);
  }
  
  