.footer {
    display: flex;
    flex-direction: row;
    background-color: rgb(150, 105, 43);
    color: white;
    padding: 1rem;
    justify-content: center;
    align-items: center;
  }

  h5 {
    background-color: rgb(150, 105, 43);
  }
  
  